<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new room</title>
    <form action="#" method="POST">
        <label> Room name: <input type="text" name="name"> </label>
        <label> Room capacity: <input type="number" name="capacity"> </label>
        <label> Projector available:
            <input type="checkbox" name="projector" value="True">Yes
            <input type="checkbox" name="projector" value="False">No </label>
        <label> <input type="submit" value="Submit"> </label></form>
</head>
<body>

</body>
</html>