<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Room</title>
</head>
<body>
<form action="#" method="POST">
    <label> Chosen room: {{ chosen_room }} </label>
    <label> New name: <input name="new_name" type=text> </label>
    <label> New capacity: <input name="new_capacity" type=number> </label>
    <label> Projector available:
        <input type="checkbox" name="new_projector" value="True">Yes
        <input type="checkbox" name="new_projector" value="False">No </label>
    <input type="hidden" name="old_name" value="{{ chosen_room }}">
    <label> <input type="submit" value="Submit"> </label></form>
</body>
</html>